[data-maintenance="backend"] {
	color: #d75452;
}

[data-maintenance="frontend"] {
	color: #d75452;
}

[data-maintenance="custom"] {
	color: #d75452;
}

/* Purple label for domain-based maintenance */
.label-purple {
	background-color: #9b59b6;
}
