[data-maintenance="backend"] {
	color: #d75452;
	font-weight: bold;
}
[data-maintenance="frontend"] {
	color: #ffff33;
	font-weight: bold;
}

[data-maintenance="custom"] {
	color: #EFC583;
	font-weight: bold;
}
